.navbar-default {
    background-color: #334858;
    border-color: #334858;
    min-height : 11%;
    border-radius: 0;
}

.navbar-brand {
    color: #fff !important;
    padding-top: 20%;
}

.btn-default {
    border-radius: 0;
    background-color: #08538c;
    color : #fff;
}
.list-group-item {
    text-align: center;
    background-color: #eff2f3;
}

body {
    background-color: #fafafa;
}

.dd {
    width : 70%;
}

a {
    color : #333;
}

#videoList {
    position: fixed;
    width: 23%;
    background-color: #FFF;
    overflow-y: scroll;
    top: 12%;
    bottom: 0;
    left : 77%;
}

#content {
    position: relative;
    margin-left: 20%;
    margin-right: 28.5%;
}


#srList {
    position: fixed;
    width: 15%;
    background-color: #eff2f3;
    overflow-y: scroll;
    top: 12%;
    bottom: 0;
    left : 0;
}

iframe {
    width: 600px;
    height: 338px;
    border: 3px solid #8c8c8c;
}