<div ng-controller="PlayController">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">Reddit Play</a>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div id="srList">
        <ul class="list-group">
          <li ng-repeat="subreddit in subreddits" class="list-group-item">
            <a ng-click="getVideosFromSubreddit(subreddit, 'hot', 100)">{{subreddit}}</a>
          </li>
          <li>
            <form ng-submit="addSubreddit()">
              <div class="input-group">
                <input ng-model="sr" type="text" class="form-control" placeholder="subreddit">
              <span class="input-group-btn">
              <button class="btn btn-default" type="submit">Load</button>
              </span>
              </div>
            </form>
            </li>
        </ul>
      </div>
      <div id="content">
        <div ng-bind-html="playVideoUrl"></div>
        <h3>{{playVideoTitle}}</h3>
        <h6><a href="{{playVideoRedditLink}}">View on Reddit</a></h6>
      </div>
      <div id="videoList">
        <ul class="list-group">
          <li ng-repeat="video in videos" class="list-group-item">
            <a ng-click="playVideo(video)"><img width="175" height="125" ng-src="{{video.thumbnailUrl}}">
            <h5>{{video.title}}</h5>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
